@font-face {
    font-family: 'segoe-ui';
    src: url('/fonts/segoeui.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'segoe-ui';
    src: url('/fonts/segoeuil.ttf');
    font-weight: 200;
}

@font-face {
    font-family: 'segoe-ui';
    src: url('/fonts/segoeuib.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'segoe-ui';
    src: url('/fonts/segoeuisl.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'segoe-ui';
    src: url('/fonts/seguisb.ttf');
    font-weight: 500;

}

body {
    margin: 0;
    padding: 0;
    font-family: segoe-ui, sans-serif;
    width: calc(100vw - 34px);
}
