$header-size: 3rem;

.header {
  width: 100%;
  background-color: #000;
  display: flex;
  height: $header-size;
  align-items: center;
  justify-content: space-between;

  .header-left-container {
    display: flex;
    height: 100%;
    width: auto;

    .header-logo {
      height: 100%;
      width: $header-size;
      background: #0178d4 url("/menu.svg") no-repeat center;
      background-size: 30%;
    }

    .title {
      padding-left: 1rem;
      font-size: 1.4rem;
      color: #fff;
      line-height: $header-size;
      font-weight: 200;
    }
  }

  .header-right-container {
    display: flex;
    align-items: center;
    .user-name {
      font-size: 0.9rem;
      color: #fff;
      text-align: right;
    }

    .logout-button {
      margin-right: 1rem;
      margin-left: 1rem;
    }
  }

}

.flex {
  width: 100%;
  display: flex;
  flex: 1 1 0;

  .content-container {
    width: 80%;
    &.full {
      width: 100%;
    }
  }

  .nav-bar {
    flex: 1 2;
    width: 20%;
    padding: 0.5rem;
    border-right: 2px solid #f1f1f1;

    .navbar-content {
      margin: 1rem 2.5rem;
    }

    .list-title {
      font-size: 1.5rem;
      font-weight: lighter;
      margin: 1rem 0;
    }

    .links-container {
      list-style-type: none;
      padding: 0;

      .link-item {
        margin-bottom: 0.8rem;
        font-weight: 500;
        cursor: pointer;
        float: left;
        clear: both;

        &:hover {
          color: #606060;
        }

        &.active {
          color: #0178d4;

          &:hover {
            color: #0198ff;
          }
        }
      }
    }
  }
}

.page-container {
  height: calc(100% - 4rem);
  display: flex;
  flex-direction: column;
  padding: 2rem;

  .add-button {
    width: 10rem;
    margin-bottom: 2rem;
  }

  .page-title {
    font-size: 2rem;
    font-weight: 200;
    margin-bottom: 2rem;
  }
}

$selected-item-height: 2rem;

.selected-item {
  display: inline-flex;
  height: $selected-item-height;
  background-color: #dadada;
  padding: 0 0 0 0.5rem;
  margin: 1rem 1rem 0 0;

  .title {
    line-height: $selected-item-height;
    font-weight: 600;
  }

  .delete-button {
    height: $selected-item-height;
  }
}

.suggestion-item {
  height: 2rem;
  line-height: 2rem;
  padding-left: 0.5rem;
}

.modal-container {
  padding: 2rem;
  border: 1px solid black;

  .modal-header {
    font-size: 1.4rem;
    font-weight: 200;
    line-height: 3rem;
  }
}

.create-new-suggestion {
  cursor: pointer;

  &:hover {
    background-color: rgb(230, 230, 230);
  }
}

.panel-footer {
  display: flex;
  justify-content: flex-start;

  .panel-footer-cancel {
    margin-right: 1rem;
  }
}

.none {
  display: none;
}

.error-label {
  color: rgb(168, 0, 0);
  font-size: 12px;
  font-weight: 400;
}

.vertical-slider{
  display: flex;
  height: 15rem;
  flex: 1;
  margin-bottom: 2rem;
}

.skill-slider-container {
  display: flex;

  .skill-level-description-container {
    display: flex;
    flex: 4;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 1.4rem;

    .skill-level-description {
      flex: 1;
    }
  }
}