.header {
  width: 100%;
  background-color: #000;
  display: flex;
  height: 3rem;
  align-items: center;
  justify-content: space-between;

  .header-left-container {
    display: flex;
    height: 100%;
    width: auto;

    .header-logo {
      height: 100%;
      width: 3rem;
      background: #0178d4 url("/menu.svg") no-repeat center;
      background-size: 30%;
    }

    .title {
      padding-left: 1rem;
      font-size: 1.3rem;
      color: #fff;
      line-height: 3rem;
    }
  }
  .logout-button {
    margin-right: 1rem;
  }
}
