$header-size: 3rem;
$theme-color-primary: #0178d4;
$theme-color-secondary: #0198ff;
$text-color-secondary: #4b709d;

.header {
  width: 100%;
  background-color: #000;
  display: flex;
  height: $header-size;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  .header-left-container {
    display: flex;
    height: 100%;
    width: auto;

    .header-logo {
      height: 100%;
      width: $header-size;
      background: $theme-color-primary url("/menu.svg") no-repeat center;
      background-size: 30%;
    }

    .title {
      padding-left: 1rem;
      font-size: 1.4rem;
      color: #fff;
      line-height: $header-size;
      font-weight: 200;
    }
  }

  .header-right-container {
    display: flex;
    align-items: center;

    .user-name {
      font-size: 0.9rem;
      color: #fff;
      text-align: left;
      margin-right: 3rem;
      margin-bottom: 0.15rem;
    }

    .logout-button {
      height: 2rem;
      width: 2rem;
      margin: 0.5rem 1rem;
      border: 0;
      border-radius: 50%;
      cursor: pointer;
      background: white url('/logout.svg') no-repeat center;
      background-size: 100%;

      &.logout-img {
        background-size: 70%;
      }

      &.missing-img {
        background-size: 90%;
      }
    }
  }

}

.flex {
  width: 100%;
  display: flex;
  flex: 1 1 0;
  margin-top: $header-size;

  .company-project {
    margin-bottom: 1rem;
    border: 1px grey dashed;
    padding: 1rem;
    border-radius: 5px;
    background-color: rgba(245, 245, 245, 0.17);
    box-shadow: rgba(0, 0, 0, 0.11) 0 0 3px 1px;

    &-head {
      display: flex;
      justify-content: space-between;
    }

    &-title {
      font-weight: 500;
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    &-time {
      font-weight: 200;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    &-technologies {
      color: $text-color-secondary;
      margin-bottom: 1rem;
    }

    &-description {
      font-weight: 200;
      text-align: justify;
      margin-bottom: 1rem;
    }

    &-url {
      font-weight: 200;

      a {
        color: $text-color-secondary;
        text-decoration-style: solid;
        text-decoration-color: $theme-color-secondary;
      }
    }

    &-employee {
      margin-top: 0.5rem;
      border: 1px grey dotted;
      padding: 0.5rem;
      border-radius: 5px;

      &-main {
        display: flex;
      }

      &-image {
        height: 3rem;
        width: 3rem;
        border: 0;
        border-radius: 50%;
        background: white no-repeat center;
        background-size: 100%;
        margin-right: 1rem;
      }

      &-name {
        font-weight: 400;
        margin-bottom: 0.5rem;
      }

      &-technologies {
        margin-bottom: 0.5rem;
      }

      &-description {
        font-weight: 200;
        text-align: justify;
      }
    }
  }

  .content-container {
    width: calc(100% - 21rem);
    margin-left: 21rem;
    &.full {
      width: 100%;
      margin-left: 0;
    }
  }

  .employee-image {
    height: 28px;
    width: 28px;
    min-width: 28px;
    margin: -4px;
    border: 0;
    border-radius: 50%;
    background: white url('/logout.svg') no-repeat center;
    background-size: 100%;

    &.missing-img {
      background-size: 90%;
    }
  }

  .nav-bar {
    flex: 1 2;
    width: 21rem;
    height: 100%;
    padding: 0.5rem;
    border-right: 2px solid #f1f1f1;
    min-width: 21rem;
    position: fixed;
    overflow-y: auto;

    .navbar-content {
      margin: 1rem 2.5rem;
    }

    .list-title {
      font-size: 1.5rem;
      font-weight: lighter;
      margin: 1rem 0;
    }

    .links-container {
      list-style-type: none;
      padding: 0;
      display: flex;
      flex-direction: column;

      .link-item {
        margin-bottom: 0.8rem;
        font-weight: 500;
        cursor: pointer;

        &:hover {
          color: #606060;
        }

        &.active {
          color: $theme-color-primary;

          &:hover {
            color: $theme-color-secondary;
          }
        }
      }
    }
  }

  .profile-container {
    display: flex;
    flex: 1;
    padding-top: 4rem;
    flex-wrap: wrap;
    justify-content: space-around;

    .profile-description {
      margin: 1.5rem 2rem 2rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: justify;
      width: 100%;
    }

    .info-container {
      display: flex;
      flex: 1;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    .summary-tables-container {
      display: flex;
      flex-wrap: wrap;
      flex: 1;
      justify-content: flex-start;
      align-items: flex-start;
      align-content: flex-start;

      &.profile-info-container {
        align-items: flex-start;

      }
    }

    .profile-skills {
      margin: 0 2rem 1rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 19rem;
      height: 17rem;

      .summary-table {
        padding-top: 0.4rem;

        tr {
          height: 1.4rem;
          margin: 0 0 1rem;
          display: flex;
          align-items: center;

          .summary-table-second-col {
            min-width: 100px;
          }
        }
      }
    }

    .table-title {
      font-size: 2.5rem;
      font-weight: 500;
      margin-bottom: 1rem;
      cursor: pointer;

      &:hover {
        color: rgba(0, 0, 0, 0.85);
      }
    }

    .profile-photo-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .upload-user-photo {
        display: flex;
        align-items: center;
        margin-top: 1rem;
        border: 1px dashed #ccc;
        padding: 0.2rem 0.4rem;
        cursor: pointer;
        font-weight: 200;
      }

      .profile-photo {
        border: 1px solid lightslategrey;
        border-radius: 50%;
        width: 12rem;
        height: 12rem;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .profile-info-line {
      margin: 0.5rem 0;
      display: flex;
      align-items: center;

      .profile-info-icon {
        margin-right: 1rem;
        font-size: 1.4rem;
      }
    }

    .profile-name {
      display: inline-flex;
      align-items: flex-end;
      font-size: 2.5rem;
      font-weight: 500;
      margin: 0 0 1rem;
      white-space: nowrap;
    }

    .profile-info {
      display: flex;
      flex-direction: column;
      margin-left: 2rem;
    }
  }
}

.page-container {
  height: calc(100% - 4rem);
  display: flex;
  flex-direction: column;
  padding: 2rem;

  .presentation-container {
    flex: 3;
    padding: 0 2rem;
    .info {
      max-width: 50rem;
    }
  }

  .page-description {
    padding: 0 0.2rem;
    text-align: justify;
    font-weight: lighter;
  }

  .add-button {
    width: 10rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
  }

  .portfolio-button {
    width: 15rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
  }

  .page-title {
    font-size: 2rem;
    font-weight: 200;
    margin-bottom: 2rem;
  }
}

$selected-item-height: 2rem;

.filter-picker {
  font-size: 14px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;

  & > div span {
    display: flex;
    flex-wrap: wrap;
  }
}

.selected-item {
  display: inline-flex;
  height: $selected-item-height;
  background-color: #dadada;
  padding: 0 0 0 0.5rem;
  margin: 0.3rem 1rem 0 0;

  .title {
    line-height: $selected-item-height;
    font-weight: 600;
  }

  .delete-button {
    height: $selected-item-height;
  }
}

.suggestion-item {
  height: 2rem;
  line-height: 2rem;
  padding-left: 0.5rem;
}

.modal-container {
  padding: 2rem;
  border: 1px solid black;

  .modal-header {
    font-size: 1.4rem;
    font-weight: 200;
    line-height: 3rem;
  }
}

.create-new-suggestion {
  cursor: pointer;

  &:hover {
    background-color: rgb(230, 230, 230);
  }
}

.panel-footer {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 2rem;
  margin-top: 3rem;

  .panel-footer-cancel {
    margin-right: 1rem;
  }
}

.none {
  display: none;
}

.error-label {
  color: rgb(168, 0, 0);
  font-size: 12px;
  font-weight: 400;
}

.vertical-slider {
  display: flex;
  height: 15rem;
  flex: 1;
  margin-bottom: 2rem;
}

.skill-slider-container {
  display: flex;

  .skill-level-description-container {
    display: flex;
    flex: 4;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 1.4rem;

    .skill-level-description {
      flex: 1;
    }
  }
}

.search-command-bar {
  border-right: 1px dashed $theme-color-primary;
  border-left: 1px dashed $theme-color-primary;
}

.search-container {
  position: relative;

  .search-found-items {
    position: absolute;
    background-color: white;
    min-height: 3rem;
    width: calc(100% - 2px);
    border: 1px dashed $theme-color-primary;
    border-top: 0;

    .search-results-container {
      max-height: 50vh;
      overflow-y: auto;
      overflow-x: hidden;
      flex-direction: column;
      width: 100%;

      &::-webkit-scrollbar {
        width: 0.4em;
      }

      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      }

      &::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid #5b6a7a;
      }
    }

    .search-item {
      width: 100%;
      display: flex;
      height: 3rem;
      border-bottom: 1px dashed $theme-color-primary;
      cursor: pointer;

      &:hover {
        background-color: rgba(215, 215, 215, 0.72);
      }

      &:last-child {
        border-bottom: 0;
      }

      .search-item-logo {
        width: 7%;
        font-size: 1.5rem;
        padding: 0.75rem;
      }

      .search-item-content {
        width: 86%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .search-item-promary {
          height: 1.5rem;
        }

        .search-item-secondary {
          width: 100%;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          display: block;
          color: #686868;
          font-weight: 200;
          font-size: 0.8rem;
        }
      }

    }
  }
}

a {
  color: $theme-color-primary;
  text-decoration-style: dotted;
  text-decoration-color: $theme-color-secondary;
}

.employee-file-picker {
  width: 100%;

  .employee-attachments-comment {
    flex: 1;
    margin: 0 1rem;
  }

  .employee-attachments-disclaimer {
    font-size: 0.9rem;
    font-weight: 200;
    text-align: center;
    padding: 0 1rem;
  }
}

.dropzone-active {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(1, 120, 212, 0.15);
  z-index: 100;
  border: $theme-color-primary 1px dashed;
  flex-direction: column;
  font-weight: 200;
  font-size: 1.5rem;
}

.ms-RatingStar-back {
  color: rgba(180, 180, 180, 0.15) !important;
}

.ms-DetailsList {
  margin-bottom: 4rem;
}

@media print {
  .header {
    display: none;
  }

  .flex {
    margin: 0;
  }

  .content-container {
    width: 100%;
    margin: 0;
  }

  .nav-bar {
    display: none;
  }

}